<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>hello create</h2>
    <form class="create" action="/api/getCreatePerson" method="post">
      <div class="it">
        <label for="">name: </label>
        <input type="text" name="name" />
      </div>
      <div class="it">
        <label for="">age: </label>
        <input type="number" name="age" />
      </div>

      <button class="btn" type="submit">Save</button>
    </form>
  </body>
</html>
