<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/getAllPerson.css" />
    <title>getAllperson</title>
  </head>
  <body>
    <h3>CRUD</h3>
    <ul>
      <% datas.forEach(item => { %>
      <li class="data">
        <%= item.name%> , <%= item.age %>
        <a class="sua" href="/api/getFileUpdatePerson/<%=item.id %>"
          ><button class="btn sua">Update</button></a
        >
        <form
          action="/api/deletePerson/<%=item.id %>"
          method="post"
          class="xoa"
        >
          <button class="btn xoa">Delete</button>
        </form>
      </li>

      <% }) %>
    </ul>
    <a href="/api/getFileCreatePerson" class="sua">Create</a>
  </body>
</html>
